.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  background-color: var(--white);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.product-card.sold-out {
  opacity: 0.7;
}

.product-card > a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: 16px;
}

.product-card-category-brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font: var(--body-sm);
  color: var(--muted);
  text-transform: uppercase;
}

.product-card-category-brand span {
  text-transform: none;
}

.product-card-image {
  padding: 10px;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  background-color: var(--muted-bg);
}

.product-card img {
  place-self: center;
}

.product-card-discount {
  position: absolute;
  top: 16px;
  left: 0px;
  padding: 2px 8px;
  border-radius: 0 var(--radius-xl) var(--radius-xl) 0;
  background-color: var(--danger);
  font: var(--body-2sm);
  font-weight: 600;
  color: var(--white);
}

.product-card-last-units {
  position: absolute;
  top: 48px;
  left: 0px;
  padding: 2px 8px;
  border-radius: 0 var(--radius-xl) var(--radius-xl) 0;
  background-color: var(--yellow-bg);
  font: var(--body-2sm);
  font-weight: 600;
  color: var(--yellow);
}

.product-card-content-top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  font: var(--body-sm);
}

.product-card-content-top h3 {
  font: inherit;
  font-weight: 600;
}

.product-card-content-bottom {
  display: flex;
  flex-direction: column;
}

.product-card-content-bottom span {
  font: var(--body-2sm);
  color: var(--muted);
  text-decoration: line-through;
}

.product-card button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 3px 11px;
  border-radius: var(--radius-full);
  background-color: var(--primary);
  color: var(--white);
  transition: background-color 0.2s ease;
}

@media (hover: hover) {
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
  }

  .product-card:not(.product-card.sold-out) button:hover {
    background-color: var(--primary-hover);
  }
}
