.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 1.5rem;
}

html {
  background: var(--background);
}

body {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  display: grid;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.section-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-top a {
  align-self: end;
  font: var(--body-sm);
  display: flex;
  gap: var(--spacing-sm);
  padding: 5px !important;
}

.section-top span {
  transition: transform 0.2s ease;
}

.section-top h2 {
  font: var(--heading-lg);
}

.section-top span {
  color: var(--primary);
  font: var(--body-sm);
  font-weight: 600;
}

.star {
  color: var(--star) !important;
  margin-right: 2px;
}

@media (hover: hover) {
  .section-top a:hover span {
    transform: translateX(2px);
  }
}

@media (max-width: 480px) {
  .section-top {
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .section-top a {
    padding: 0 !important;
    align-self: start;
  }
}
