.product-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-3xl);
}

.product-content-active-image {
  display: flex;
  background-color: var(--muted-bg);
  place-content: center;
  border-radius: var(--radius-lg);
  padding: 20px;
  flex: 1;
  position: relative;
}

.product-content-active-image img {
  object-fit: cover;
  max-width: 420px;
  width: 100%;
}

.product-content-images {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  flex: 1;
}

.product-content-images-list {
  display: flex;
  gap: var(--spacing-lg);
}

.product-image.active-photo {
  border: 2px solid var(--primary);
}

.product-image {
  padding: 10px;
  background-color: var(--muted-bg);
  border-radius: var(--spacing-lg);
  place-content: center;
  display: flex;
}

.product-image img {
  max-width: 80px;
}

.product-content-general {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.product-content-top {
  display: flex;
  gap: var(--spacing-sm);
  font: var(--body-2sm);
  font-weight: 600;
  text-align: center;
}

.product-content-top span {
  padding: 2px 10px;
  border-radius: var(--radius-lg);
  align-self: center;
}

.product-content-category {
  background-color: var(--muted-bg);
  color: var(--muted);
}

.product-content-brand {
  background-color: var(--primary-light);
  color: var(--primary);
}

.product-content-stock {
  background-color: var(--yellow-bg);
  color: var(--green);
}

.product-content-data {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-sm);
}

.product-content-data h1 {
  font: var(--heading-lg);
}

.product-content-data strong {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.product-content-data strong span {
  font: var(--body-sm);
  text-decoration: line-through;
  color: var(--muted);
}

.product-content-saving {
  color: var(--green);
  font: var(--body-sm);
  font-weight: 600;
}

.product-content-benefits li {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  font: var(--body-sm);
}

.product-content-benefits img {
  width: 16px;
  height: 16px;
}

.product-content-shopping {
  display: flex;
  gap: var(--spacing-md);
  flex-wrap: nowrap;
  font-size: 1.125rem;
}

.product-content-quantity {
  border-radius: var(--radius-lg);
  display: flex;
  gap: var(--spacing-md);
  border: 1px solid var(--border);
  align-items: center;
}

.product-content-quantity button {
  transition: background-color 0.2s ease;
  padding: 5px 10px;
  border-radius: var(--radius-lg);
}

.product-content-quantity button:disabled {
  cursor: not-allowed;
}

.product-content-cart-button {
  background-color: var(--primary);
  text-align: center;
  width: 100%;
  color: var(--white);
  font-weight: 600;
  border-radius: var(--radius-lg);
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  transition: background-color 0.2s ease;
}

.product-content-cart-button svg {
  height: 18px;
  width: 18px;
  stroke: var(--white);
}

.product-content-cart-button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.product-content-data-rating {
  display: flex;
  gap: 5px;
}

.product-content-data-rating span {
  margin: 0 !important;
}

.product-content hr {
  border: 0;
  height: 1px;
  background-color: var(--border);
}

.product-content-discount {
  position: absolute;
  top: 16px;
  left: 0px;
  padding: 2px 8px;
  border-radius: 0 var(--radius-xl) var(--radius-xl) 0;
  background-color: var(--danger);
  font: var(--body-2sm);
  font-weight: 600;
  color: var(--white);
}

@media (hover: hover) {
  .product-content-cart-button:not(:disabled):hover {
    background-color: var(--primary-hover);
  }

  .product-content-quantity button:not(:disabled):hover {
    background-color: var(--muted-bg);
  }
}

@media (max-width: 768px) {
  .product-content {
    grid-template-columns: 1fr;
    gap: var(--spacing-xl);
  }

  .product-content-quantity {
    min-width: 110px;
    justify-content: space-between;
  }
}

@media (max-width: 390px) {
  .product-content-shopping {
    flex-direction: column;
  }

  .product-content-cart-button {
    padding: 10px 0px;
  }

  .product-content-quantity button {
    padding: 5px 15px;
  }
}
