.top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  font: var(--body-sm);
  padding-bottom: 0px !important;
}

.top h1 {
  font: var(--heading-lg);
}

.top-filters > .input-container {
  flex: 1;
}

.top-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
}

.top-filters-header-search {
  flex-direction: column;
  align-items: flex-start;
}

.top-filters-header-search h1 {
  overflow-wrap: anywhere;
}

.top select {
  appearance: none;
  padding: 10px 40px 10px 12px;
  border: 1px solid var(--border);
  border-radius: var(--radius-xl);
  background-image: url('../../../../assets/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 16px;
}

@media (max-width: 480px) {
  .top-filters {
    flex-direction: column;
  }
}
