.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  align-items: center;
}

.pagination-button {
  display: flex;
  gap: var(--spacing-sm);
  background-color: var(--primary);
  color: var(--white);
  padding: 5px 15px;
  border-radius: var(--radius-lg);
  text-align: center;
  align-items: center;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.pagination-button:disabled {
  cursor: not-allowed;
}

.pagination span:nth-child(2) {
  color: var(--muted);
}

@media (hover: hover) {
  .pagination-button:not(:disabled):hover {
    background-color: var(--primary-hover);
  }
}
